{
  "trailingComma": "es5",
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 118,
  "endOfLine": "auto"
}
